body {
    margin: 0;
    background: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
}

.aqui {
    background-image: linear-gradient(
        transparent 0%,
        transparent 90%,
        hotpink 90%,
        hotpink 100%,
    );

    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
}

.aqui:hover {
    background-size: 100% 100%;
    background-position-x: left;
}


.container {
    width: 80vw;
    margin: auto;
    display: flex;
    /* border: 3px solid red; */
    
}
 

/* HEADER - COMEÇO */

.fundo {
    margin: auto;
    background-image: url(../imgs/multiple-strawberries-blue-background-cut4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 560px;
    /* border: 3px solid purple; */
}

/* HEADER */

.header {
    /* background-color: rgb(0, 0, 0, 0.4); */
    color: white;
    display: flex;
    margin-bottom: 24px;
    /* border: 3px solid blue; */

}

.header .container{
    justify-content: space-between;
}

.titulo {
    color: white;
    display: flex;
    flex-direction: row; 
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 35%;
    /* text-shadow: 1px 1px black;  */
    /* border: 3px solid blue; */
}

.titulo img{
    width: 50px;
    height: 50px;
    border-radius: 12px;
    margin-right: 12px;
    box-shadow: 1px 1px #980000;
}

.navBar {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
    /* text-shadow: 1px 1px black;  */
    /* border: 3px solid blue; */
}

.register {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    width: 260px;
    /* text-shadow: 1px 1px black;  */
    /* border: 3px solid blue; */
}

.cadastro_botao {
    background-color: white;
    color: black;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    width: 98px;
    padding: 10px;
    border-radius: 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cadastro_botao:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.cadastro_botao a{
    color: #000;
}

.login_botao {
    background-color: #E3101F;
    color: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    width: 84px;
    padding: 10px;
    border-radius: 24px;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login_botao:hover{
    background-color: #c50e0e;
}

.aqui {
    font-size: 18px;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none; 
}

/* HEADER - FIM */

/* BANNER - COMEÇO */

.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 3px solid blue;  */
}

.banner .container{
    justify-content: space-between;
    display: flex;

}

.banner_login .container{
    justify-content: center;
    display: flex;
    float: center;
    
}

/* BANNER - FIM */

/* LOGIN - COMEÇO */

.fundo_login {
    margin-right: auto;
    margin-left: auto;
    background-color: #B31C45;
    height: 100vh;
    width: 100vw;
    /* border: 3px solid purple; */
}

.login{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: white;
    border-radius: 24px;
    width: 400px;
    height: 500px;
    justify-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);

}

.box_login {
    height: 350px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-size: medium;
    font-weight: bold;
}

.ipt {
    display: flex;
    border-radius: 24px;
    font-size: 14px;
    text-align: center;
    height: 40px;
    width: 320px;
}

.login a {
    text-decoration: underline;
    color: #000;
}

#mensagem_erro {
    color:#E3101F;
    font-size: small;
}

.banner_login .login .btn_acessar{
    padding: 10px;
    padding-right: 18px;
    padding-left: 18px;
    border-radius: 24px;
    font-size: 20px;
    margin-top: 30px;
    border: none;
    justify-items: center;
    
}

.banner_login .login .btn_acessar:hover {
    background-color: #E3101F;
    color: white;
    cursor: pointer;
}

/* LOGIN - FIM */

/* CADASTRO - COMEÇO*/

.banner_cadastro .cadastro{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: white;
    border-radius: 24px;
    width: 1000px;
    height: 80%;
    padding: 12px 12px 24px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);

}

.banner_cadastro .container{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
}

.boxes_cadastro{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
    width: 100%;
    flex-direction: row;
    padding-bottom: 24px;
}

.boxes_cadastro .linha{
    height: 100%;
    width: 2px;
    background-color: whitesmoke;
}

.box_cadastro{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-size: medium;
    font-weight: bold;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    height: 72px;
}

.msg_erro {
    text-align: center;

    color:#E3101F;
    font-size: small;
    font-weight: lighter;
    width: 100%;
}

.cadastro_titulo{
    align-items: center;
    display: flex;
    justify-content: center;
}

.fim_cadastro{
    align-items: center;
    justify-content: center;
}

.btn_cadastro{
    border-radius: 24px;
    height: 40px;
    width: 300px;
    font-size: 20px;
    margin-top: 30px;
    border: none;
    justify-items: center;
}

.btn_cadastro:hover {
    background-color: #E3101F;
    color: white;
    cursor: pointer;
}

.banner h1 {
    color: white;
    font-size: 56px;
    width: 48%;
    /* text-shadow: 1px 1px black;  */
}

/* CADASTRO - FIM */

/* SOCIAL - COMEÇO */

.social {
    background-color: white;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social .container h4{
    font-weight: lighter;
}

.parte1 {
    display: flex;
    width: 100%;
    padding-top: 36px;
    padding-bottom: 36px;
}

.parte1 .container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.parte2 {
    padding-top: 72px;
    padding-bottom: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: whitesmoke;
}

.parte2 .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.parte3 {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding-top: 72px;
    padding-bottom: 72px;
}

.parte3 .container {
    justify-content: space-between;
}

.parte4 {
    display: flex;
    background-color: whitesmoke;
    width:100%;
    padding-top: 72px;
    padding-bottom: 72px;
}

.parte4 .container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.parte4 .container .box1 h4 {
    background-color: #cf0b0b;
    color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    width: 250px;
    height: 64px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 36px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: normal;
}

.parte4 .container .box1 h4:hover{
    background-color: #B31C45;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 33%;
}

.box2 {
    display: flex;
    align-items: center;
}

#greenhouse {
    width: 650px;
}

#graphs {
    width: 750px;
}

#profit {
    width: 650px;
}

#loss {
    width: 612px;
    border-radius: 24px;
    margin-top: 32px;
}

.cadastro_botao:hover {
    animation: pulsate_cad 0.75s ease-in-out;
}

@keyframes pulsate_cad {
    0% {
        box-shadow: 0 0 15px rgb(215, 215, 215),
            0 0 15px rgb(215, 215, 215);
    }
}

.login_botao:hover {
    animation: pulsate_log 0.75s ease-in-out;
}

@keyframes pulsate_log {
    0% {
        box-shadow: 0 0 15px #c50e0e,
            0 0 15px #c50e0e;
    }
}

/* SOCIAL - FIM */

/* FOOTER - COMEÇO */

.footer{
    background-color: #B31C45;
    width: 100%;
    color: white;
    padding-top: 72px;
    padding-bottom: 72px;
    
}

.footer .container {
    display: flex;
    flex-direction: column;
}

.boxes_footer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slogan_footer { 
    width: 280px;
    height: 238px;
    display: flex;
    align-items: top;
    margin-right: 24px;
}

.listas_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.ul_footer{
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 200px;
    list-style: none;
}

.divisao {
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 24px;
    margin-bottom: 24px;
}

.boxes_footer2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .titulo {
    justify-content: left;
}

/* FOOTER - FIM */

/* SCROLL BAR - COMEÇO */

::-webkit-scrollbar-track {
    background-color: whitesmoke;
}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-thumb {
    background: #E3101F;
}